apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "spacebar.fullname" . }}
  labels:
    {{- include "spacebar.labels" . | nindent 4 }}
data:
  PORT: "{{ .Values.service.port }}"
  CONFIG_PATH: "/config/config.json"
  STORAGE_PROVIDER: {{ .Values.storage.provider | quote }}
  {{- if eq .Values.storage.provider "s3" }}
  STORAGE_BUCKET: {{ .Values.storage.bucket | quote }}
  STORAGE_REGION: {{ .Values.storage.region | quote }}
  {{- else }}
  STORAGE_LOCATION: "/data"
  {{- end }}
  {{- range $key, $value := .Values.env }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "spacebar.fullname" . }}-config
  labels:
    {{- include "spacebar.labels" . | nindent 4 }}
data:
  config.json: |
    {
      "api_endpointPublic": {{ include "spacebar.apiEndpointPublic" . | quote }},
      "cdn_endpointPublic": {{ include "spacebar.cdnEndpointPublic" . | quote }},
      "gateway_endpointPublic": {{ include "spacebar.gatewayEndpointPublic" . | quote }}
    }
