{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "spacebar.fullname" . }}
  labels:
    {{- include "spacebar.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- if and .Values.ingress.letsEncrypt.enabled .Values.ingress.letsEncrypt.email }}
    cert-manager.io/cluster-issuer: {{ .Values.ingress.letsEncrypt.clusterIssuer | default (printf "%s-letsencrypt" (include "spacebar.fullname" .)) }}
    {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- $useLetsEncrypt := and .Values.ingress.letsEncrypt.enabled .Values.ingress.letsEncrypt.email }}
  {{- if or .Values.ingress.tls $useLetsEncrypt }}
  tls:
    {{- if $useLetsEncrypt }}
    - hosts:
        - {{ .Values.ingress.host | quote }}
      secretName: {{ include "spacebar.fullname" . }}-tls
    {{- end }}
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "spacebar.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
{{- end }}
